body
  margin: 0
  color: #666
  font-family: Tahoma,Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei", sans-serif

ul,li
  margin: 0
  padding: 0
  list-style: none

a
  display: block
  text-decoration : none
  color: transparent

img
  display: block
